:root{
    font-size: 16px;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}

 body, html {
    height: 100vh;
    width: 100vw;
} 

body {
    color: black;
    background-color: lightgrey;
    font-family: pokemon_gbregular;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar,
.nav-menu::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

body::-webkit-scrollbar-track,
body::-webkit-scrollbar-corner,
.nav-menu::-webkit-scrolbar-track,
.nav-menu::-webkit-scrolbar-corner {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb,
.nav-menu::-webkit-scrollbar-thumb {
    background: #6649b8;
}

main {
    margin-left: 5rem;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-primary);
    transition: all 0.25s ease;
}

#nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

#pokelist {
    list-style: none;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.nav-logo {
    align-self: flex-end;
}

/* .nav-menu:nth-child(n+2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
} */

.nav-logo svg {
    min-width: 2rem;
    margin: 0.5rem 1rem 1rem;
    transform: rotate(540deg);
    transition: all 0.5s ease;
}

.nav-title h3 {
    color: var(--text-primary);
    margin-bottom: 3rem;
    opacity: 0;
}

.navbar:hover {
    width: 16rem;
    transition: all 0.5s ease;
}

.pokebutton {
    /*override default*/
    border: none;
    /*inherit font from parent*/
    font-family: inherit;
    /*style button and font*/
    background-color: var(--bg-primary);
    color: var(--text-primary);
    text-decoration: none;
    padding: .75em;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    height: 3rem;
    width: 16rem;
}

.nav-button {
     /*override default*/
    border: none;
    /*inherit font from parent*/
    font-family: inherit;
    /*style button and font*/
    background-color: var(--bg-primary);
    color: var(--text-primary);
    text-decoration: none;
    padding: .75em;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    height: 3rem;
    width: 16rem;
    opacity: 0;
    transition: all 0.1s ease;
    
}

.navbar:hover .nav-button,
.navbar:hover .nav-title h3 {
    opacity: 1;
    transition: opacity 0.5s ease 0.35s;
}

.navbar:hover .nav-logo svg {
    transform: rotate(0deg);
    transition: all 1s ease;
}

.navbar:hover .nav-menu {
    overflow-x: hidden;
    overflow-y: scroll;
}

.nav-button:hover,
.nav-button:focus,
.pokebutton:hover,
.pokebutton:focus {
    /*turn mouse to hand*/
    cursor: pointer;
    /*reduce opacity*/
    background-color: var(--bg-secondary);
}

/*Modal Styling*/

#modal-container {
    display: none;
}

#modal-container.is-visible {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);

    /* to sho it above other content */
    z-index: 999;

    /* to allow scrolling if the screen is not high enough */
    overflow: auto;

    /* this used to center the modal */
    display: grid;
    text-align: center;
}

.modal {
    position: relative;
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    background: lightgrey;
    padding: 15px;
    width: 100%;
    max-width: 700px;
    text-align: left;
}

.modal-close {
    float: right;
    -webkit-appearance: none;
    border: 1;
    background: var(--bg-primary);
    font-family: inherit;
    font-size: 1 rem;
    color: #6649b8;
    text-decoration: none;
    padding: 5px;
}

.modal h1 {
    margin-top: 0;
    margin-bottom: 10rem;
}

.modal p {
    margin-bottom: 0;
    line-height: 1.5rem;
}

.modal img {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    width: 30%;
    /* height: 200px; */
}