:root{
    font-size: 16px;
    --text-primary: #fff;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --hilight-primary: #6649b8;
}

body {
    color: black;
    background-color: lightgrey;
    font-family: pokemon_gbregular;
}

body::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

body::-webkit-scrollbar-track,
body::-webkit-scrollbar-corner {
    background: var(--bg-primary);
}

body::-webkit-scrollbar-thumb {
    background: var(--hilight-primary);
}

.navbar {
    justify-content: center;
    background-color: var(--bg-primary)
}

.search {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

#search-input {
    margin-right: 0.5rem;
}

#nav-box {
    display: flex;
    justify-content: center;
}

#nav-menu {
    display: flex;
}

.nav-button {
    /*override default*/
    border: none;
    /*inherit font from parent*/
    font-family: inherit;
    /*style button and font*/
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    text-decoration: none;
    padding: .75em;
    border-radius: 3px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    height: 3rem;
    width: 16rem;
    margin-right: 0.25rem;
    box-shadow: 5px 5px 25px 0 rgba(0,0,0, .35);
    transition: all 0.1s ease;
    
}

.page-container {
    margin-top: 100px;
}

main {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-title {
    margin: auto auto;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
}

#pokelist {
    columns: 4;
    -webkit-columns: 4;
    -moz-columns: 4;
    text-align: center;
}

#pokelist li {
    margin-right: 1rem;
}

.pokebutton {
    /*override default*/
    border: none;
    /*inherit font from parent*/
    font-family: inherit;
    /*style button and font*/
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    text-decoration: none;
    padding: .75em;
    border-radius: 50px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px 10px 0 rgba(0,0,0, .25);
    height: 4rem;
    width: 16rem;
    margin-bottom: 0.25rem;
}


.nav-button:hover,
.nav-button:focus,
.pokebutton:hover,
.pokebutton:focus {
    /*remove defaut focus*/
    outline: none;
    /*turn mouse to hand*/
    cursor: pointer;
    /*reduce opacity*/
    background-color: var(--hilight-primary);
    transform: scale(1.06);
    transition: all 0.1s ease;
}

#pokemon-img {
    display: block;
    margin: auto auto;
    width: 50%;
}

@media screen and (max-width: 1100px) {
    #pokelist {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        text-align: center;
    }
}

@media screen and (max-width: 780px) {
    #nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .page-container {
        margin-top: 200px;
    }
}

@media screen and (max-width: 570px) {
    #pokelist {
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
        text-align: center;
    }
}

@media screen and (max-width: 450px) {
    .search {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .page-container {
        margin-top: 230px;
    }
}